* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url(fonts/Gilroy-Bold.woff) format('woff');
}

@font-face {
    font-family: "Gilroy-Semibold";
    src: url(fonts/Gilroy-Semibold.woff) format('woff');
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url(fonts/Gilroy-Medium.woff) format('woff');
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url(fonts/Gilroy-Regular.woff) format('woff');
}

body {
    font-family: "Gilroy-Bold";
}

.header {
    width: 100%;
    height: 40px;
}

.header-container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}

.header-menu {
    display: flex;
    list-style: none;
    width: 533px;
    display: flex;
    justify-content: space-between;
}

.header-menu li {
    font-size: 14px;
    line-height: 16px;
    font-family: "Gilroy-Semibold";
}

.header-menu-link-active {
    font-family: "Gilroy-Semibold" !important;
    color: #F25822;
    text-decoration: none;
}

.header-menu-link {
    color: #000000;
    text-decoration: none;
}

.header-menu-link svg {
    margin: 0 0 1px 4px;
}

.main-container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 84px;
}

.main-left-block-content {
    width: 522px;
}

.heading {
    color: #000000;
    font-family: "Gilroy-Bold";
    font-size: 60px;
    line-height: 70px;
}

.subtitle {
    font-family: "Gilroy-Medium";
    color: #888888;
    font-size: 20px;
    line-height: 23px;
    margin-top: 17px;
}

.main-buttons {
    margin-top: 37px;
    width: 302px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-button {
    text-decoration: none;
    color: #fff;
    line-height: 17px;
    padding: 15px 36px;
    background-color: #F25822;
    border-radius: 50px;
    box-shadow: 4px 4px #f2592211;
}

.main-button-video {
    font-size: 15px;
    line-height: 17px;
    color: #AAAAAA;
    text-decoration: none;
}

.cards-container {
    margin: 162px auto 192px auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 370px;
    height: 291px;
    box-sizing: border-box;
}

.card-active {
    width: 370px;
    height: 291px;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.card-img {
    padding: 30px 0 0 40px;
}

.card-title {
    padding: 25px 0 0 29px;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.card-subtitle {
    padding: 17px 0 0 29px;
    font-family: "Gilroy-Regular";
    font-size: 15px;
    line-height: 22.5px;
    color: #666666;
}

.card-link {
    padding: 25px 0 0 29px;
    display: block;
    font-size: 11px;
    line-height: 16.5px;
    color: #000;
    text-decoration: none;
}

.services-description-container {
    width: 682px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description-heading {
    font-size: 45px;
    line-height: 52.7px;
    color: #000000;
}

.description-subtitle {
    font-size: 16px;
    font-family: "Gilroy-Regular";
    line-height: 24px;
    color: #666666;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 55px;
}

.services-cards-container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.services-card {
    width: 370px;
    height: 549px;
    box-sizing: border-box;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.services-card-title {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding-top: 25px;
}

.services-card-subtitle {
    font-family: "Gilroy-Regular";
    font-size: 15px;
    line-height: 22.5px;
    color: #AAAAAA;
    padding-top: 22px;
    width: 310px;
    text-align: center;
}

.services-card-link {
    display: block;
    margin-top: 39px;
    background-color: #F25822;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 19.5px;
    padding: 15px 36px 15px 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 4px 4px #f2592211;
}

.services-card-link svg {
    margin-left: 6px;
}

.footer-container {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 197px auto 96px auto;
}